.header
    display: flex
    flex-wrap: wrap
    width: 100%
    height: 720px
    background-image: url("/assets/img/headerBg.png")
    background-repeat: no-repeat
    background-size: cover
    padding: 100px 80px
    justify-content: center

    &__info
        height: 419px
        backdrop-filter: blur(10px)
        max-width: 674px
        width: 100%
        border-radius: 10px
        padding-left: 40px
        overflow: auto
        background: #4E4E4E99
        @media (max-width:769px)
            display: none
            height: 500px
            width: 100%
            max-width: 900px !important
            // text-align: center
            

    &__title
        font-family: ExoBold
        color: red
        font-size: 48px
        font-weight: 700
        line-height: 58px
        color: #00E376
        padding-top: 20px

        & span
            color: #FFFFFF

    &__description
        font-family: ExoExtraLight
        font-size: 22px
        font-weight: 400
        line-height: 30px
        color: #FFFFFF
        padding-top: 20px

    &__btn
        padding: 16px 63px
        background: #3D3D3D
        margin-top: 40px
        border: none
        font-family: ExoExtraLight
        color: #FFFFFF
        font-size: 24px
        font-weight: 500
        line-height: 29px
        border-radius: 6px

        &:hover
            background: #0b4982c9
            cursor: pointer
            transition: 1s all

    &__location
        display: flex
        flex-direction: column
        gap: 12px
        position: relative
        margin-left: 200px
        margin-top: 450px
        @media (max-width:1250px)
            margin-top: 30px
        @media (max-width:769px)
            display: none
        // top: 300px
        // left: 300px

    &__address
        background: #2F2F2F
        font-family: ExoBold
        line-height: 36px
        text-align: center
        color: white
        padding: 7px 11px 6px 17px
        border-radius: 6px

    &__loc
        background: #2F2F2F
        font-family: ExoBold
        line-height: 36px
        text-align: center
        color: white
        padding: 1px 5px 2px 8px
        border-radius: 6px
