.carousel
    padding: 44px
.cont
    background: #F9F9F9

.partner
    display: flex
    margin-bottom: 100px
    flex-direction: column

    &__img
        object-fit: contain !important
        image-orientation: flip
        background-size: contain
        width: 100%
        &:hover
            transform: scale(0.9)
            cursor: pointer
            transition: 0.2s linear

    &__text
        font-family: ExoBold
        font-size: 15px
        line-height: 25px
        text-align: center
        padding-right: 30px
        color: #001A63
