.form
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-content: center
    align-items: center
    margin-top: 40px
    flex-direction: column
    @media (max-width:769px)

    &__title
        font-family: ExoBold
        font-size: 40px
        color: #00E376
        line-height: 36px
        text-align: center

    &__text
        color: red
        margin-top: 30px
        font-family: ExoMedium
        font-size: 18px
        line-height: 36px
        text-align: center
        width: 100%
        max-width: 617px
        color: #696969

    &__section
        display: flex
        width: 100%
        margin-top: 40px
        justify-content: center
        gap: 30px
        flex-wrap: wrap

    &__input
        width: 100%
        display: flex
        justify-content: center
        align-content: center
        gap: 40px
        flex-wrap: wrap

    &__textField
        height: 40px
        width: 100%
        max-width: 393px
        border-radius: 6px

    &__brandName
        height: 40px
        width: 100%
        max-width: 826px
        border-radius: 6px

    &__select
        display: flex
        flex-direction: column
        width: 100%
        justify-content: center
        align-items: center

    &__activity
        height: 40px
        justify-content: center
        width: 100%
        max-width: 826px
        border-radius: 6px

    &__btn
        display: flex
        background: #3D3D3D
        color: #FFFFFF
        font-family: ExoBold
        font-size: 18px
        border: none
        border-radius: 6px
        height: 40px
        width: 100%
        max-width: 816px
        border-radius: 6px
        text-align: center
        justify-content: center
        align-items: center
        cursor: pointer
        &:hover
            background: #3d3d3dc4
