@import ../../styles/variables, ../../styles/mixins

.navbar
    display: flex
    width: 100%
    flex-wrap: wrap
    background: #6A6A6A
    backdrop-filter: blur(25px)
    padding: 30px 80px
    justify-content: center
    margin-top: 50px
    @media (max-width:769px)
        margin-top: 120px
        padding: 20px 40px
        align-items: center
        justify-content: center

    &__menu
        list-style: none
        display: flex
        flex-wrap: wrap
        gap: 50px
        @media (max-width:769px)
            gap: 45px
            flex-wrap: wrap
            justify-content: center

        & li
            font-family: ExoMedium
            font-size: 18px
            color: #FFFFFF
            cursor: pointer
            @media (max-width:769px)
                font-family: ExoRegular
            &:hover
                transform: scale(1.1)
                color: #00E376
                text-decoration: overline
                transition: 0.2s
