@import ../../styles/variables, ../../styles/mixins

.cont
    height: 120px
    width: 100%
    background: $white
    display: flex
    padding: 25px 60px 49px 50px
    justify-content: space-between
    overflow: hidden
    @media (max-width:1900px)
        padding: 25px 100px 49px 100px

    &__content
        // display: flex
        & img
            margin: auto !important
            & span
                display: none !important
        &__title
            width: 100%
            max-width: 507px
            top: -80px
            left: 100px
            position: relative
            & p
                font-family: ExoMedium
                font-size: 30px
                line-height: 36px
                color: $black
                padding-left: 20px
                border: 1px solid black
                border-right: none
                color: #000000
                border-bottom: none
                border-top: none
                & span 
                    color: #818181

        &__line
            height: 72px
            width: 2px
            background: rgba(155, 155, 155, 1)
            margin-left: 50px

            & span
                color: #818181

    &__media

        &__btn
            font-family: ExoBold
            font-size: 18px
            background: #00E376
            padding: 14px 36px
            border: none
            color: $white
            cursor: pointer
            border-radius: 6px
            margin-right: 30px

        &__select
            border: none
            outline: none
            background: none
            cursor: pointer
            font-family: ExoBold
            color: #000000
            font-size: 18px

        & + &
            cursor: pointer
