.cont
    // display: flex
    &__carousel
        display: flex
        padding: 100px 44px 0px 44px
        overflow: hidden
        justify-content: center

        &__flag
            width: 150px
            // margin-left: 50px
            overflow: hidden
            margin-left: 60px

            & img
                display: flex
                margin: auto    
            &__region
                color: red
                text-align: center
                padding-top: 20px
                font-family: ExoBold
                font-size: 20px
                font-weight: 700
                line-height: 24px
                color: #000000

