.cont
    display: flex
    justify-content: center
    justify-content: space-around
    width: 140px
    
    & img
        margin-left: 15px
        cursor: pointer !important

        &:hover
            transform: scale(1.1)
            transform: 1s ease