.cont
    height: 676px
    width: 100%
    background: #FFFFFF
    overflow: hidden
    margin-top: 20px
    padding: 100px 80px

    &__title
        font-family: ExoBold
        color: #00E376
        font-size: 48px
        font-weight: 700
        line-height: 58px
        letter-spacing: 0em
        text-align: left

    &__content
        width: 100%
        max-width: 805px

        &__description
            font-family: ExoExtraRegular
            font-size: 20px
            font-weight: 500
            line-height: 28px
            letter-spacing: 0.02em
            text-align: left
            color: #696969
            padding-top: 60px

    &__document
        font-family: ExoBold
        color: #000000
        font-size: 18px
        font-weight: 500
        line-height: 28px
        letter-spacing: 0.02em
        text-align: left
        padding-top: 40px
        padding-bottom: 20px

        p
            font-family: ExoBold
            font-size: 18px
            font-weight: 500
            line-height: 28px
            letter-spacing: 0.02em
            text-align: left
            color: #000000

    &__link
        font-family: ExoExtraRegular
        font-size: 18px
        font-weight: 500
        line-height: 28px
        letter-spacing: 2%
        text-align: left
        color: #35589C
        text-decoration: underline

    &__links
        display: flex
        flex-direction: column  
        margin-top: 20px
        // margin-left: 50px
        &__link
            font-family: ExoExtraRegular
            font-size: 18px
            font-weight: 500
            line-height: 28px
            letter-spacing: 2%
            text-align: left
            color: #35589C
            text-decoration: underline

        & span
            color: black
            text-decoration: none !important
