.cont
    width: 100%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    align-content: center
    margin-top: -150px
    margin-bottom: 30px
    &__title
        font-family: ExoBold
